<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chr.travel">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Travel">
        <activity android:name=".LocationAccessActivity">

        </activity>
        <activity android:name=".MapActivity">

        </activity>
        <activity android:name=".NotificationActivity" />
        <activity android:name=".GroupActivity" />
        <activity android:name=".GetApiHashKeyActivity"></activity>
        <activity android:name=".BirthPickerActivity" />
        <activity android:name=".FindIdActivity" />
        <activity android:name=".FindPwdActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LogoActivity" />
        <activity android:name=".ManagerAddGroupActivity" />
        <activity android:name=".PackageManagerActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".MainActivity" />

        <!-- ??? -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/plus" />
        <!-- ??? -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <!--kakao API-->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="5388dfebf1555a140f1277f2222bb5cc" />

        <!-- firebase -->
        <service
            android:name="fcm.FireBaseMessagingService"
            android:exported="false"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="fcm.FirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!--Gps 포그라운드-->
        <!--<service
            android:name="LocationAccessActivity"
            android:foregroundServiceType="location">
        </service>-->

    </application>

</manifest>